[submodule "external/deepspeed"]
	path = external/deepspeed
	url = git@github.com:eyolfson/project-pactum-deepspeed.git
[submodule "doc/conference-paper"]
	path = doc/conference-paper
	url = git@github.com:eyolfson/project-pactum-conference-paper.git
