[submodule "external/deepspeed"]
	path = external/deepspeed
	url = git@laforge.cs.ucla.edu:DeepSpeed
	branch = project-pactum
[submodule "doc/conference-paper"]
	path = doc/conference-paper
	url = git@github.com:eyolfson/project-pactum-conference-paper.git
